.drawer {
  width: 80px !important;
}
.wrapper {
  padding-left: 85px;
}
.active {
  /*background-color: #eee!important;*/
  background-color: #232323 !important;
  border-right: solid 4px #6863ce !important;
  box-sizing: border-box !important;
}
.icon {
  width: 48px;
  height: 48px;
  /*color: #555 !important;*/
  color: #eee !important;
}
.iconButton {
  padding: 0px;
  padding-top: 15px;
}
