html, body {
  /*height: 100%;*/
  background-color: rgb(48, 48, 48);
  color: #ccc;
}
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
.wrapper {
  display: flex;
  flexWrap: wrap;
}
