html {
  height: 100%;
  background-color: #141414;
  color: #ccc;
}
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
.wrapper {
  display: flex;
  flexWrap: wrap;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: #222;
  border-radius: 10px;
}

::selection {
  background-color: #9a6086;
  color: #ccc;
}

.drag {
  -webkit-app-region: drag;
  cursor: move;
}
