.place {
  font-size: 11pt;
  padding-left: 16px;
}

.icon {
  margin-bottom: -5px;
}

.normal {
  color: rgb(56, 163, 71);
}

.low {
  color: rgb(173, 103, 20);
}

.hide {
  display: none
}

.good i {
  /*color: darkgreen: ;*/
}
.bad i {
  color: rgb(195, 54, 54);
}
